body {
    background-color: rgb(218, 221, 223);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-size: 25px;
    font-weight: 800;
    font-style: normal;
}

header {
    list-style-type: none;
    margin: 3rem;
    margin-bottom: 5rem;
}



nav ul li {
    display: inline;
    margin-right: 20px; 
}

nav ul li a {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
}

main, footer{
    margin: 3rem;
    padding: auto;
}

footer {
    text-align: center;
    font-style: bold;
}

.divMovie {
    background-color: rgb(0, 0, 0);
    margin: 10px;
    padding: 10px;
    color: antiquewhite;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}

#bioEdu {
    margin-top: 0%;
    padding: 150px;
    display: flex;
    align-items: center;
}

#bioEdu img {
    width: 500px;
    height: auto;
    margin-right: 60px;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#filmFusion {
    font-family: "Archivo Black", sans-serif;
    font-weight: 800;
    font-size: 50px;
    font-style: bold;
    margin-right: 220px;
}

#slogan {
    font-size: 60px;
}

#container {
    margin: 5px;
    margin-top: 30px;
    padding: 190px;
    background-color: rgb(207, 13, 13);
    border-radius: 15px;
}



